.search__form {
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    position: relative;
    input {
        all: unset;
        padding: 15px 20px;
        border-radius: 5px;
        border: 1px solid rgba(255, 255, 255, .2);
        background-color: #000;
        margin-bottom: 5px;
        font-size: 16px;
        color: #fff;
        width: 90%;
    }
    button{
        all: unset;
    }
    button{
        position: absolute;
        padding: 10px;
        right: 5px;
        font-size: 18px;
        background-color: rgba(0, 0, 0, .5);
        cursor: pointer;
        text-align: center;
    }
}