extends base


block content
    h4 Change Title of video
    form(method="POST")
        //- name을 지정해야 컨트롤러에서 req.body로 데이터를 볼 수 있음
        input(name="title", placeholder="Video Title", value=video.title, required)
        input(value="Save", type="submit")